<h2>忘记密码？</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email,'E-mail' %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "发送重置密码邮件" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>